<?xml version='1.0' encoding='utf-8'?>

<Context>
    <Resource name="1nso" type="javax.sql.DataSource"
      maxActive="20" maxIdle="5" maxWait="10000"
      username="postgres"
      password="root"
      driverClassName="org.postgresql.Driver"
      defaultTransactionIsolation="READ_COMMITTED"
      url="jdbc:postgresql://localhost/1nso" />
</Context>